﻿<%@ Page Title="Lista de Socios" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Listar.aspx.cs" Inherits="HeraclesApp2.Socio.Listar" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <br />


    <div class="table-responsive">
        <asp:Table runat="server" ID="Tabla" CssClass="table table-hover table-dark">
           
        </asp:Table>
    </div>

</asp:Content>